<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="blog.css" rel="stylesheet" />
    <title>Blog - Home</title>
</head>
<body>
    <header>
        <h1>Blog</h1>
    </header>
    {% for article in articles %}
    <article>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
    </article>
    {% endfor %}
    <footer class="footer">
        
    </footer>
</body>
</html>