{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

<h2>Bienvenue sur le site de Jean Forteroche !</h2>
<!-- Carousel -->

<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        
        <div class="item active"> <img alt="" src="{{ asset('/img/alaska.jpeg')}}">
            <a href="article/3"><h1 class="carousel-caption">Lorem ipsum in french</h1></a></div>
            
            <div class="item"> <img alt="" src="{{ asset('/img/alaska-glacier-ice-mountains.jpg')}}"><a href="article/2"><h1 class="carousel-caption">Lorem ipsum</h1></a></div>
            
            <div class="item"> <img alt="" src="{{ asset('/img/wood-landscape-mountains-nature.jpg')}}"><a href="article/1"><h1 class="carousel-caption">First Article</h1></a></div>
            
        </div>
        
        <a class="left carousel-control" href="#carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    
    <!-- Bloc présentation -->
    <h2>Présentation de l'auteur</h2>

    <p><img class="jprofil" src="{{ asset('/img/jeanf.jpeg')}}" /></p>
    <p>Bonjour et bienvenue sur mon site ! Je m'appelle Jean Forteroche, je suis acteur et écrivain.</p>
    <h4>Mon projet</h4>
    
    <p>Depuis quelques temps maintenant, j'ai commencé l'écriture de mon nouveau roman "Billet simple pour l'Alaska".<br /> Cependant, j'ai voulu innover en publiant mon roman sur mon blog.<br />
    Le fonctionnement est très simple, je publie régulièrement par "épisode", des petits chapitres de mon roman.</p>
    <p>Vous pouvez consulter les premiers épisodes <a href="blog">ici</a> !</p>
    
    <div class="clearfix">
        <h4>Être au courant des dernières publications ?</h4>
        <p>Il suffit de descendre tout en bas de cette page. Vous trouverez une partie <strong>"Newsletter"</strong>.<br /> Il vous suffira alors de renseigner les coordonnées demandés et vous recevrez ensuite un mail lorsqu'un épisode sera publié,<br /> de même lorsque je voudrais contacter, informer mes lecteurs je le ferais par ce biais ou par le blog directement.</p>
    </div>

    <h4>Me suivre, me contacter ?</h4>
    <p>Pour me suivre sur les différents réseaux sociaux, vous pouvez cliquer sur les différents logos en bas de la page.
    <br /> Pour me contacter, il vous suffit de vous rendre sur la page <a href="contact">contact</a> de mon site. <br />Vous devrez remplir un formulaire de contact avec vos coordonnées et votre message.</p>

    {% endblock %}
      