body { 
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

a
{
	color: #438EBA;
}

a:hover
{
	color: #40AAE8;
}

/** Style navbar */
.navbar-default
{
	background-color: #FDFEFF;
	border-bottom: 1px solid #E1E5E8;
}

/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #438EBA;
}

/** Style navbar a:hover */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #438EBA;
}
.navbar-default .navbar-nav > .active > a
{
    color: #9d9d9d;
	background-color: #FDFEFF;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
	color: #438EBA;
	background-color: #FDFEFF;

}

/** Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #9d9d9d;
    border-bottom-color: #40AAE8;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #438EBA;
    background-color: #E1E5E8;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #438EBA;
    border-bottom-color: #40AAE8;
}

/* Mobile version Nav */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
	border-color: #E1E5E8;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #438EBA;
    }
}

.carousel
{
	margin-top: 15px;
}

/** Style presentation block */

.jumbotron
{
	margin-top: 15px;
}

.jumbotron p
{
	font-size: 1em;
}



/** Img Jean Forteroche and content */

.item img
{
	border-radius: 5px;
}

.jprofil
{
	width: auto;
	border-radius: 10px;
	float: left;
	margin-right: 15px;
}


.clearfix
{
	clear: right;
}

.presentation
{
	text-align: justify;
}



/** Style for article title  */

a:hover, .articleTitle:hover, .articleTitle:focus
{
	text-decoration: none;
}

@media (max-width: 767px){
	.responsive-title
	{
		font-size: 1em;
	}
}



.article
{
	margin-bottom: 15px;
}

.article:hover
{
	border: 1px solid #EFF4F7;
	border-radius: 8px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-left: 15px;
	background-color: #F9F9F9;
}

/** Style for admin  */
.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

/** Style for Error */

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

/** Footer */
.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.fa-facebook-official
{
	color: #3b5998;
}

.fa-twitter-square
{
	color: #33CCFF;
}

.fa-google-plus-square
{
	color: #DD4B39;
}

.fa-flickr
{
	color: #0063DC;
}
