body { 
    padding-top: 50px; 
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.fa:hover
{
	color: orange;
}

.fa-facebook-official
{
	color: #3b5998;
}

.fa-twitter-square
{
	color: #33CCFF;
}

.fa-google-plus-square
{
	color: #DD4B39;
}

.fa-flickr
{
	color: #0063DC;
}

.item img
{
	border-radius: 5px;
}

.jprofil
{
	width: auto;
	border-radius: 10px;
	float: left;
	margin-right: 15px;
}


.clearfix
{
	clear: right;
}

.presentation
{
	text-align: justify;
}

.articleTitle:hover, .articleTitle:focus
{
	text-decoration: none;
}
